extends layout

block content
    .bg(style='background: url(/images/bg1.png); background-size: cover; background-repeat: round; height: 900px; position: absolute; width: 100%; filter: blur(px);')
    .container
        .row(style='z-index:20; position:relative')
            .col-md-12
                != messages()
        ul(style="padding: 0")
        if errors
            each error, i in errors
                li.alert.alert-danger(style="list-style:none") #{error.msg}
        .row.my-5
            .col-md-6.text-center
                .row(style='margin-top: 25%')
                    .col-sm-12
                        h3 Image Area
                        p.lead “图域”，努力为您管理图片
            .col-md-6.mr-auto.ml-auto.animated.zoomIn
                .card(style='background-color: transparent;')
                    h5.card-header.white-text.text-center.py-4(style='background-color: transparent; color: #555')
                        strong(style='color: #555') 注册
                    // Card content
                    .card-body.px-lg-5.pt-0
                        // Form
                        form(style='color: #555;', method='post', action='/users/register', enctype='multipart/form-data')
                            // Username
                            .md-form(style='padding-top: 8px;')
                                i.fa.fa-user.prefix
                                input#username.form-control(type='text', name='username')
                                label(for='username') 用户名
                            // E-mail
                            .md-form(style='padding-top: 8px;')
                                i.fa.fa-envelope.prefix(style='font-size: 24px')
                                input#email.form-control(type='email', name='email')
                                label(for='email') 电子邮箱
                            // Password
                            .md-form(style='padding-top: 8px;')
                                i.fa.fa-lock.prefix
                                input#psd.form-control(type='password', name='password')
                                label(for='psd') 密码
                            .md-form(style='padding-top: 8px;')
                                i.fa.fa-lock.prefix
                                input#psdAgain.form-control(type='password', name='password2')
                                label(for='psdAgain') 确认密码
                            .input-group.my-4.pt-3
                                .custom-file(style='opacity: 0.8;')
                                    input#profile.custom-file-input(style='cursor: pointer', type='file', name='profile', accept='image/gif,image/tiff, image/x-png, image/jpeg')
                                    label#profile-label.custom-file-label(style='cursor: pointer', for='profile') 上传头像
                            // Sign up button
                            button#sign-up-btn.my-5.btn.btn-rounded.btn-outline-dark.btn-block.waves-effect.z-depth-0(type='submit') 注册

    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/mdb.min.js')
    script.
        $("#profile")[0].onchange = function () {
            if (this.files != null) {
                $("#profile-label")[0].innerHTML = this.files[0].name;
            }
        }